/*
Any @media screen element in css is for different browser ratios to ensure the layout is not compromised by different resolution.

I have used in-line and css for styling my website. Please be aware of this.

I have used !important tag to remove possible unvanted design from bootstrap where is used. Also used in areas where i dont want anything changing because of any possible event.
*/

/* class to center everything */
.center{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

/* used to edit a "list" type element can be seen in champions(champion_info.html) */
.frames{
  list-style-type: none;
  margin: 2vw;
  padding: 0;
  overflow: hidden;
  background-color: rgba(21,33,33,255);
  margin-bottom: 0px;
}

@media screen and (min-width: 576px) {
  #teams.frames {
    margin: 10% 0 0 5%;
  }
}

@media screen and (min-width: 768px) {
  #teams.frames {
    margin: 8% 0 0 4%;
  }
}

@media screen and (min-width: 992px) {
  #teams.frames {
    margin: 6% 0 0 3%;
  }
}

@media screen and (min-width: 1200px) {
  #teams.frames{
    margin: 5% 0 0 2%;
  }
}
/*Champions page. to create each img a less pointy effect*/
.frames .lists img{
  border-radius: 5px;
}

/* Also used ot edit a "list" type element */
.lists{
  float: left !important;
}
/* Also used to edit a "list" type of elemnt */
.lia {
  display: block !important;
  color: rgba(104,107,87,255) !important;
  text-align: center !important;
  text-decoration: none !important;
}
/* sets background */
.background{
    background-color:rgba(13,21,24,255);
}
/* sets text color and sets any margins to 0  the "unset" lines of code are there to remove any unvanted bootstrap styling. Allows me more freedom to work on the page where bootstrap is used.*/
body {
    color: rgba(104,107,87,255) !important;
    margin:0;
    font-family: unset !important;
    font-size: unset !important;
    font-weight: unset !important;
    line-height: unset !important;
    text-align: unset;
    background-color: unset;
}
/* Centers image */
.imgCenter{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 25%;
}
/* sets everything in this class to specific style. */
.modal-body * {
  background-color:rgba(13,21,24,255);
  text-align:center;
}
.modal-body li{
  padding: 0.5em 1em;
  
}
/* transition effect */
.image{
  transition: 0.4s ease-in;
}
.transition:hover .image{
  opacity: 0.75;

  
}

/* sets the background video */
.vid {
  position: relative;
  z-index: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  width: 100%;
}
/* sets the second video */
.smallerVid {
  position:absolute; 
  z-index: 0;
  display: block;
  justify-content: center; 
  align-items: center;
  max-width: 105rem;
  height: 55vh;
  margin: 0;
  overflow: hidden;
  width: 52%; 
  max-height: calc(100vh - 100px);
  border: 2px solid #dadada;
  border-radius: 7px;
  outline: none;
  border-color: #9ecaed;
  box-shadow: 0 0 8px #9ecaed;
  top:20%;
  left:25%;
}
@media (min-aspect-ratio: 16/9) {
  video {
    width: 100%;
    height: auto;
  }
  .sponsors{
    width: 72%;
  }
}
@media (max-aspect-ratio: 16/9) {
  video {
    width: auto;
    height: 100%;
  }
}
/* for logo */
.overlap{
  z-index: 1;
  position: absolute;
  top:20%;
  left:25%;
  width: 50%;
  height: auto;
  margin: 0px;
}
/* navigation bar editing */
nav{
  overflow: hidden !important;
  position: fixed !important;
  top: 0 !important;
  width: 100% !important;
  height: auto !important; 
  z-index: 99999999 !important;
}
nav ul li a{
  padding: 4vh 1.0vw !important;
}
nav ul li a:hover{
  background-color:rgba(13,21,24,255) !important;
}
button:hover{
  background-color:rgba(13,21,24,255) !important;
}

.sepSet{
  list-style-type: none !important;
  margin: 0 !important;
  padding: 0 !important;
  overflow: hidden !important;
  background-color: rgba(21,33,33,255) !important;
}

/* Search bar editing */
form{
  background-color: rgba(21,33,33,255);
  margin: 2%;
  width: 96%;
  height: 6vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  overflow: hidden;
}
@media (min-width: 768px) {
  form {
    margin: 13.5%;
    height: 5vh;
  }
}

@media (min-width: 992px) {
  form {
    margin: 7.5%;
    height: 4vh;
  }
}

@media (min-width: 1200px) {
  form {
    margin: 5% 0 0 0;
    height: 3vh;
  }
}
/* Input on navigation bar editing */

nav input{
  all: unset;
  font: 16px system-ui;
  color: rgba(104,107,87,255);
  width: 100%;
  padding: 2px 4px;

}
/* Edits placeholder */
::placeholder{
  color: rgba(104,107,87,255);
  opacity:0.7;
}
/* creates a styling for buttons mainly used for login/register/search buttons  */

.buttonB {
  all: unset;
  cursor: pointer;
  text-align: center;
}
.myButton{
  border: transparent 0;
  cursor: pointer;
}
/* sets the search icon and styles it */
svg {
  color: rgba(104,107,87,255)!important;
  fill: currentColor !important;
  width: 60% !important;
  height: auto !important;
  padding: 10px !important;
}

/* Background video (homepage[index.html]) */
#containerV {
  width: 100%;
  height: auto;
  text-align: center;
  overflow: hidden;
}
/* Image container */
#containerI {
  width: 100%;
  height: auto;
  text-align: center;
  overflow: hidden;
}
/* blurs the background video homepage(index.html) */
#videobcg {
  z-index:-2;
  width: inherit;
  height: inherit;
  -o-filter: blur(15px);
  filter: blur(15px);
  object-fit: cover;
  transform: scale(1.04);
}
/* creates glowing border around the 2nd video */
.glowing-border {
  border: 2px solid #dadada;
  border-radius: 7px;
  outline: none;
  border-color: #9ecaed;
  box-shadow: 0 0 8px #9ecaed;
}
/* makes sure all element by tag <a> has no margin */
a{
  margin:0;
}
/* similar to modal-body just for (our_team.html) */

.modal-body2 * {
  background-color:rgba(13,21,24,255);
  text-align:center;
}
/* Creates a popup (login) */
.popup {
  position: fixed;
  top:-150%;
  left: 50%;
  opacity: 0;
  transform: translate(-50%,-50%) scale(1.25);
  width: 20%;
  padding: 20px 30px;
  background: rgba(104,107,87,255);
  box-shadow: 2px 2px 5px 5px rgba(0,0,0,0.15);
  border-radius: 10px;
  transition: top 200ms ease-in-out 200ms, opacity 200ms ease-in-out, transform 200ms ease-in-out;
}

.popup.active{
  top:50%;
  opacity:1;
  transform:translate(-50%,-50%) scale(1);
  transition: top 0ms ease-in-out 0ms, opacity 200ms ease-in-out 0ms transform 200ms ease-in-out 0ms;
  z-index: 9999;
}
.popup .close-btn{
  position:absolute;
  top:3%;
  right:3%;
  width:3.5%;
  height:auto;
  background:#888;
  color: #222;
  text-align:center;
  line-height:15px;
  border-radius:15px;
  cursor:pointer;
}
.popup .form h2{
  text-align:center;
  color:#222;
  margin: 3% 0 6%;
  font-size:25px;
}

.popup .form .form-element{
  margin:4% 0;
}
.popup .form .form-element label{
  font-size:14px;
  color: #222;
}
.popup .form .form-element input[type="text"],
.popup .form .form-element input[type="password"]{
  margin-top:5px;
  display:block;
  width:94%;
  padding:10px;
  outline:none;
  background-color: rgba(21,33,33,255);
  border:1px solid #c1983c;
  border-radius:5px;
  color:rgba(104,107,87,255);
}
.popup .form .form-element button{
  width:100%;
  height:40px;
  border:none;
  outline:none;
  font-size:15px;
  background: #222;
  color:rgba(104,107,87,255);
  border-radius:10px;
  cursor:pointer;
  text-align: center;
  
}

/* creates a popup (register) */
.popup2 {
  position: fixed;
  top:-150%;
  left: 50%;
  opacity: 0;
  transform: translate(-50%,-50%) scale(1.25);
  width: 20%;
  padding: 20px 30px;
  background: rgba(104,107,87,255);
  box-shadow: 2px 2px 5px 5px rgba(0,0,0,0.15);
  border-radius: 10px;
  transition: top 200ms ease-in-out 200ms, opacity 200ms ease-in-out, transform 200ms ease-in-out;
}

.popup2.active{
  top:50%;
  opacity:1;
  transform:translate(-50%,-50%) scale(1);
  transition: top 0ms ease-in-out 0ms, opacity 200ms ease-in-out 0ms transform 200ms ease-in-out 0ms;
  z-index: 9999;
}
.popup2 .close-btn{
  position:absolute;
  top:3%;
  right:3%;
  width:3.5%;
  height:auto;
  background:#888;
  color: #222;
  text-align:center;
  line-height:15px;
  border-radius:15px;
  cursor:pointer;
}
.popup2 .form h2{
  text-align:center;
  color:#222;
  margin: 3% 0 6%;
  font-size:25px;
}
.popup2 .form .form-element{
  margin:4% 0;
}
.popup2 .form .form-element label{
  font-size:14px;
  color: #222;
}
.popup2 .form .form-element input[type="text"],
.popup2 .form .form-element input[type="password"]{
  margin-top:5px;
  display:block;
  width:94%;
  padding:10px;
  outline:none;
  background-color: rgba(21,33,33,255);
  border:1px solid #c1983c;
  color:rgba(104,107,87,255);
  border-radius:5px;
}
.popup2 .form .form-element button{
  width:100%;
  height:40px;
  border:none;
  outline:none;
  font-size:15px;
  background: #222;
  color:rgba(104,107,87,255);
  border-radius:10px;
  cursor:pointer;
  text-align: center;
  
}
/* edits hr tag found in (our_team.html) */
hr{
  height:5px;
  width: 50%;
  border-width: 0;
  background-color:rgba(104,107,87,255);
}
/* edits quote */
blockquote {
  display: block;
  margin-block-start: 6em;
  margin-block-end: 6em;
  margin-inline-start: 240px;
  margin-inline-end: 240px;
}
/* class used for sponsorship creates a vertical line */
.vl {
  border-left: 6px solid #c1983c;
  height: 15vw;
  width: 1%;
  position: relative;
  margin-left:-5%;
  left: 25%;
  top: 5vh;
}
/* styles a table */
table, th, td {
  padding:20px;
  color:#c1983c;
  border: 1px solid rgba(104,107,87,255);
  border-collapse:collapse;
  width:10.7vh;
  font-size: 10pt;
}
table, th, td img{
  text-align: center;
}

/* container but not hidden seen in (contact_us.html) */
.cont {
  position: relative;
  top:50%;
  left: 50%;
  opacity: 1;
  transform: translate(-50%,-50%) scale(1.25);
  width: 23.5%;
  padding: 20px 30px;
  background: rgba(104,107,87,255);
  box-shadow: 2px 2px 5px 5px rgba(0,0,0,0.15);
  border-radius: 10px;
  
}
.cont .form .form-element{
  margin:4% 0;
}
.cont .form .form-element label{
  font-size:14px;
  color: #222;
}
.cont .form .form-element input[type="text"],
.cont .form .form-element select,
.cont .form .form-element textarea{
  margin-top:5px;
  display:block;
  width:97%;
  padding:5px;
  outline:none;
  background-color: rgba(21,33,33,255);
  border:1px solid #c1983c;
  border-radius:5px;
  color:rgba(104,107,87,255);
}
.cont .form .form-element button{
  width:100%;
  height:40px;
  border:none;
  outline:none;
  font-size:15px;
  background: #222;
  color:rgba(104,107,87,255);
  border-radius:10px;
  cursor:pointer;
  text-align: center;
  
}
/* styles gif */
.giffy{
  width: 70vmin;
  height: 70vmin;
  position: absolute;
  transform: translate(-50%, -50%);
  border-bottom-left-radius: 50%;
  border-bottom-right-radius: 50%;
}
/* edits carousel item */
div .carousel-item {
  width: 100%;
  height: 80%;
}
/* removes marker from list */
li {
  list-style-type: none;
}
/* 3rd popup mainly used in image gallary/ champions/ (for champions check java[champs.js]) */
.popup3 {
  position: fixed;
  top:-150%;
  left: 50%;
  opacity: 0;
  transform: translate(-50%,-50%) scale(1.25);
  width: 50%;
  background: rgba(13,21,24,255);
  box-shadow: 2px 2px 5px 5px rgba(0,0,0,0.15);
  border-radius: 10px;
  transition: top 200ms ease-in-out 200ms, opacity 200ms ease-in-out, transform 200ms ease-in-out;
}

.popup3.active{
  top:50%;
  opacity:1;
  transform:translate(-50%,-50%) scale(1);
  transition: top 0ms ease-in-out 0ms, opacity 200ms ease-in-out 0ms transform 200ms ease-in-out 0ms;
  z-index: 9999;
}
.popup3 .close-btn{
  position:absolute;
  top:3%;
  right:3%;
  width:2%;
  height:auto;
  background:#888;
  color: #eee;
  text-align:center;
  line-height:15px;
  border-radius:15px;
  cursor:pointer;
}
.popup3 .form .form-element{
  margin:4% 0;
}


/* edits text colour in carousel */
.carousel-inner h5 , .carousel-inner p {
  color: #c1983c;
}

/* News styling */
aside {
  width: 20%;
  padding-left: 15px;
  float: right;
  margin-right: 40px;
  padding-right: 15px;
  font-style: italic;
  background-color: rgba(21,33,33,255);
  border-radius: 10px;
  padding-bottom: 10px;
  overflow-y: scroll;
}
aside div{
  position: relative;
  left:45%;
  top:-120px;
  width: 50%;
  height: 0;
}
aside p{
  display: inline;
  position: relative;
  margin-right: 2%;
  margin-left: 2%;
}

.latestNews{
  width: 8vw;
  height: auto;
  border-radius: 10px;
}

/* scroll bar style */

::-webkit-scrollbar {
  width: 1vh;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #888; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555; 
}

*, ::after, ::before{
  box-sizing:unset !important;
}

footer p{
  font-size: 1.2vw;
}

/* index page, late edit, adds the padding style and img to the 10 list items in index page next to the twitter handle. */
.lol-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.lol-list li {
  background-color: #222;
  color: rgba(104,107,87,255);
  padding: 2.8%;
  margin-bottom: 1.7%;
  border-radius: 10px;
  box-shadow: 0 0 5px rgba(0,0,0,0.3);
  display: flex;
  align-items: center;
  width:90%;
}

.lol-list li::before {
  content: "";
  width: 5vmin;
  height: 5vmin;
  border-radius: 10px;
  background-image: url('https://static.wikia.nocookie.net/leagueoflegends/images/0/02/Season_2022_-_Challenger.png');
  background-size: contain;
  margin-right: 1%;
}

.lol-list li:first-child {
  margin-top: 10%;
}

.lol-list li:last-child {
  margin-bottom: 0;
}
